<%= javascript_include_tag "form_helper" %>

<%= form_for @poem do |f| %>
  <div class="input-field col s12">
    <%= f.text_field :title, placeholder: 'Title' %>
  </div>

  <div class="input-field col s12">
    <%= f.collection_select :author_id, Author.all, :id, :name, { prompt: 'Select Author' } %>
  </div>

  <div class="input-field col s12">
    <%= f.date_field :publish_date, placeholder: 'Date Published', class: 'datepicker' %>
  </div>

  <div class="input-field col s12">
    <%= f.text_area :metaphor, placeholder: 'Metaphor', rows: 5 %>
  </div>

  <div class="input-field col s12">
    <%= f.text_area :content, placeholder: 'Content', rows: 10 %>
  </div>

  <div class="input-field col s12">
    <%= f.submit class: 'btn waves-effect waves-light' %>
  </div>
<% end %>
