<% @poems.each do |poem| %>
  <%= link_to poem do %>
    <div class='poem'>
      <div class='title'>
        <h3><%= poem.title %></h3>
      </div>
      <div class='author'>
        <h5><%= poem.author.name %></h5>
      </div>
      <div class='metaphor'>
        <%= simple_format(poem.metaphor) %>
      </div>
      <% if poem.tags.length > 0 %>
        <div class='tags'>
          Tags:
          <% poem.tags.uniq.pluck(:tag).each do |t| %>
            <div class="chip">
              <%= t.split.map(&:capitalize).join(' ') %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
