<div class="element-container">
  <div class='content-header'>
    <h3><%= @poem.title %></h3>
    <h5><%= link_to @poem.author.name, author_path(@poem.author), class: 'author-link' %></h5>
    <%= link_to 'Edit', edit_poem_url, class: 'waves-effect waves-light btn' %>
    <b class="metaphor"><%= simple_format(@poem.metaphor) %></b>
    <% if @poem.tags.length > 0 %>
      <div class='tags'>
        Tags:
        <% @poem.tags.order(:tag).distinct.pluck(:tag).each do |t| %>
          <div class="chip">
            <%= t.split.map(&:capitalize).join(' ') %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='content-body'>
    <%= simple_format(@poem.content) %>
  </div>
</div>
