<!DOCTYPE html>
<html>
  <head>
    <title>PoemsStories</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='application-navbar'>
      <%= render 'layouts/navbar' %>
    </div>
    <main>
      <div class="parallax-container">
        <div class="parallax">

        </div>
        <div class='application-body'>
          <%= yield %>
        </div>
      </div>
    </main>
    <div class='application-footer'>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
